body {
    margin: 0px;
    min-height: 100vh;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 25px;
    padding: 0.5rem;
}

div.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
}

div.footer ul.navbar {
    border-top: 1px solid lightgray;
}

li a{
    display: inline-block;
    font-family: "Arial", sans-serif;
    font-weight: lighter;
    font-size: small;
    padding: 8px;
    color: darkslategray;
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
}

li.left {
    float: left;
}

li.right {
    float: right;
}

div.logo {
    width: min-content;
    display: block;
    margin: 10% auto 1% auto;
}

input {
    display: block;
    margin: 20px auto;
    width: 500px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    border-width: 1px;
    border-color:lightgray;
    border-style: solid;
}

input:hover, input:focus{
    box-shadow: 0 0 5px 1px lightgray;
}

.buttons button {
    border: 0.5px solid whitesmoke;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.75rem;
    color: darkslategray;
}

.buttons button:hover{
    border: 0.5px solid lightgray;
    color: black;
}

div.buttons {
    margin: 1% auto;
    width: max-content;
}